.update-profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // margin-top:25rem;
    padding: 2rem;
    min-width: 78vw;

    margin: 0 auto;
    background: #f0f9f4;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  
    h2 {
      color: #2d6a4f;
      margin-bottom: 1.5rem;
      font-weight: bold;
    }
  
    .profile-section {
      background-color: #ffffff;
      width:210%;
      padding: 1.5rem;
      border-radius: 8px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      margin-bottom: 1.5rem;
      // width: 100%;
  
      h4 {
        color: #1b4332;
        margin-bottom: 1rem;
        border-bottom: 2px solid #52b788;
      }
  
      label {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
        font-size: 1rem;
        color: #333;
  
        input {
          padding: 0.5rem;
          font-size: 1rem;
          border: 1px solid #ddd;
          border-radius: 4px;
          width: 60%;
        }
      }
    }
  
    .updateButton {
      padding: 0.8rem 1.5rem;
      background-color: #2d6a4f;
      color: #ffffff;
      font-size: 1rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.2s ease;
  
      &:hover {
        background-color: #1b4332;
        transform: scale(1.05);
      }
    }
  
    .success-message {
      color: #2d6a4f;
      margin-top: 1rem;
      font-size: 1rem;
      font-weight: bold;
    }
  }
  